.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}
.skills__image {
    flex: 0.4;
}
.skills__image img {
    width: 100%;
    border-radius: 0.5rem;
}
.skillSet {
    flex: 0.4;
}
.skillSet > p {
    margin-bottom: 40px;
}
