.header__nav {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-items: center;
}
.header__nav ul li {
  display: inline;
  padding: 0 30px;
}
.header__nav ul li a {
  text-decoration: none;
  color: #e5e5e5;
  font-size: larger;
}

.header__nav ul li .active {
  color: white;
  font-weight: 600;
}
